@import "mobile";
@import "pokemon";
@import "pagination";
@import "single_pokemon";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin pokemon() {
  font-family: "Poppins", sans-serif;
}
body {
  background: #ececec;
  margin: 0;
  @include pokemon();
}

header {
  display: flex;
  margin: auto 4%;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
  }

  div.search {
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;

    .search-box {
      padding: 10px 10px 10px 20px;
      border-radius: 10px;
      border: none;
      width: 210px;
      -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.34);
      -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.34);
      box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.34);
    }
  }
}

.image-container {
  display: flex;
  align-items: center; /*vertical align*/
  justify-content: center; /*horizontal align*/

  img {
    height: 200px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  top: 30px;
  align-items: center;
  position: relative;

  .search-results {
    height: 30px;
    margin-top: 10px;
    background-color: white;
    opacity: 0;
    width: 100%;
    z-index: 1000;
    right: 0;
    top: 30px;
    background: #cecece;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.34);

    &.active {
      opacity: 1 !important;
    }
  }

  h5 {
    margin: 0;
    padding-top: 2%;
    text-align: center;
  }
}
