.pokemon-list {
  display: grid;
  margin-top: 20px;
  // Styles
  .pokemon-div {
    background: white;
    border-radius: 19px;
    margin: 20px auto;
    padding: 1%;
    width: 220px;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.34);
    animation-name: place;
    animation-duration: 0.2s;

    // Actions

    &:hover {
      transform: translateY(-10px);
      animation-name: lift;
      animation-duration: 0.2s;
    }

    @keyframes place {
      from {
        transform: translateY(-10px);
      }
      to {
        transform: none;
      }
    }

    @keyframes lift {
      from {
        transform: none;
      }
      to {
        transform: translateY(-10px);
      }
    }

    .pokemon-name {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      color: black;
    }

    .image-container {
      display: flex;
      align-items: center; /*vertical align*/
      justify-content: center; /*horizontal align*/

      img {
        height: 200px;
      }
    }

    .type {
      &.normal {
        background-color: #a8a878;
      }
      &.grass {
        background-color: #78c850;
      }
      &.ground {
        background-color: #e0c068;
      }
      &.fighting {
        background-color: #c03028;
      }
      &.rock {
        background-color: #b8a038;
      }
      &.steel {
        background-color: #b8b8d0;
      }
      &.fire {
        background-color: #f08030;
      }
      &.electric {
        background-color: #f8d030;
      }
      &.flying {
        background-color: #a890f0;
      }
      &.psychic {
        background-color: #f85888;
      }
      &.bug {
        background-color: #a8b820;
      }
      &.dragon {
        background-color: #7038f8;
      }
      &.water {
        background-color: #6890f0;
      }
      &.ice {
        background-color: #98d8d8;
      }
      &.poison {
        background-color: #a040a0;
      }
      &.dark {
        background-color: #705848;
      }
      &.ghost {
        background-color: #705898;
      }
      &.fairy {
        background-color: #ffaec9;
      }
    }
  }
}
