@mixin card() {
  background: white;
  border-radius: 20px;
  margin: 5% 20px;
  padding: 20px;
  @include box-shadow();
}

@mixin box-shadow() {
  box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.34);
}

.type {
  padding: 2px 5px;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  margin-right: 5px !important;
  font-size: 10px;

  &.normal {
    background-color: #a8a878;
  }
  &.grass {
    background-color: #78c850;
  }
  &.ground {
    background-color: #e0c068;
  }
  &.fighting {
    background-color: #c03028;
  }
  &.rock {
    background-color: #b8a038;
  }
  &.steel {
    background-color: #b8b8d0;
  }
  &.fire {
    background-color: #f08030;
  }
  &.electric {
    background-color: #f8d030;
  }
  &.flying {
    background-color: #a890f0;
  }
  &.psychic {
    background-color: #f85888;
  }
  &.bug {
    background-color: #a8b820;
  }
  &.dragon {
    background-color: #7038f8;
  }
  &.water {
    background-color: #6890f0;
  }
  &.ice {
    background-color: #98d8d8;
  }
  &.poison {
    background-color: #a040a0;
  }
  &.dark {
    background-color: #705848;
  }
  &.ghost {
    background-color: #705898;
  }
  &.fairy {
    background-color: #ffaec9;
  }
  &.ability {
    background-color: #6d6d6d;
  }
}

.single-pokemon-container {
  margin: auto 4%;
  display: grid;

  #left-div {
    @include card();

    .pokemon-name {
      text-align: center;
      margin: 0;
      text-transform: uppercase;
    }

    #pokemon-details {
      margin-left: 2%;
      padding-bottom: 20px;
      border-bottom: 2px solid darkslategray;

      span {
        margin: 5px 0;

        &.block {
          display: block;
        }

        &.metrics {
          font-weight: bold;
        }

        &.value {
          font-weight: lighter;
        }
      }
    }

    #evolution-details {
      margin-left: 2%;

      ul {
        list-style: none;
        padding: 0;

        .pokemon-link {
          color: black;
          text-transform: capitalize;
        }
      }
    }
  }

  #middle-div {
    @include card();

    #about-details {
      .select {
        width: 100%;
        padding: 10px 18px;
        border-radius: 10px;
        text-transform: capitalize;
      }
    }

    #stats-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .stats-card {
        @include card();
        margin: 5% 8px !important;

        text-align: center;
        color: black;

        h3 {
          font-size: 40px;
          margin: 5px 0;
        }

        span {
          font-size: 13px;
          font-weight: bold;
        }

        &.hp {
          background: #ff5959;
        }

        &.attack {
          background: #f5ac78;
        }

        &.defense {
          background: #fae078;
        }

        &.special-attack {
          background: #9db7f5;
        }

        &.special-defense {
          background: #a7db8d;
        }

        &.speed {
          background: #fa92b2;
        }
      }
    }

    #moves-details {
      .moves {
        padding: 2px 5px;
        color: black;
        border-radius: 20px;
        text-transform: uppercase;
        margin-right: 5px;
        font-size: 10px;
        background: #ececec;
        display: inline-block;
      }
    }
  }

  #right-div {
    @include card();

    .listings-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .card {
        @include box-shadow();
        margin: 0 2%;
        width: 80%;
        background: #f1f2f6;
        padding: 20px;
        border-radius: 15px;
      }

      .damage-indicator {
        font-weight: bold;
        font-size: 12px;
      }

      .element-name {
        width: 100%;
        font-size: 15px;
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
      }

      .listing-data {
        margin-bottom: 20px;
        width: 80%;
      }
    }
  }
}
